footer {
    background: #306562;
    padding: 15px 15px 15px 15px;
}

.footer__img-logo {
    margin-top: 0.4cm;
}

.footer__blocfooter {
    display: flex;
}

.footer__titre-footer {
    font-family: 'Bowlby One';
    font-size: 14px;
    margin-left: 25px;
    margin-top: 27px;
    font-weight: 500;
}

.footer__sous-titre {
    font-family: 'Bowlby One';
    font-weight: 500;
}

.footer__adresse {
    font-family: var(--font-serif);
    line-height: 0.5rem;
}
.footer__mention-legale {
    font-family: var(--font-serif);
}

.footer__lien {
    color: black;
    text-decoration: underline;
  }


