footer {
    background: #306562;

}

.blocfooter {
    display: flex;
}

.titrefooter {
    font-family: 'Bowlby One';
    margin-left: 1.5cm;
}

.contact {
    margin-left: 1cm;
    font-family: 'Bowlby One';
}

.adresse {
    margin-left: 0.2cm;
    font-family: 'Noto Serif Khojki';
}

.noussuivre {
    margin-left: 1cm;
    font-family: 'Bowlby One';
}

.moi {
    margin-left: 0.1cm;
    font-family: 'Noto Serif Khojki';
}

.nom {
    margin-left: 0.1cm;
    font-family: 'Noto Serif Khojki';
}

body {
    margin: 0;
}