.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #306562;
    display: grid;
    place-content: center;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black
}

.header__menu-btn {
    position: relative;
    z-index: 5;
    top: 0;
    right: 0;
    left: 100;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: none;
    border: none;
    appearance: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-btn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: none;
    border: none;
    appearance: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noscroll,
.noscroll body {
    overflow: hidden;
}


.menuitem {
    align-items: left;
}


.nosarticles {
    font-family: 'Bowlby One';
}

.ensavoirplus {
    font-family: 'Bowlby One';
}

ul {
    list-style-type: none;
}