.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #306562;
    display: grid;
    place-content: center;
    z-index: 5;
}

.menulink {
    color: black;
    text-decoration: none;
}

.menu-btn {
    z-index: 6;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: none;
    border: none;
    appearance: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.noscroll,
.noscroll body {
    overflow: hidden;
}


.menuitem {
    align-items: left;
}


.nosarticles {
    font-family: 'Bowlby One';
}

.ensavoirplus {
    font-family: 'Bowlby One';
}

ul {
    list-style-type: none;
}