.titre-article {
    font-family: 'Bowlby One';
    text-align: center;
    position: relative;
    font-size: large;
    font-weight: normal;
    color: #295855;
}

body {
    margin: 0cm;
}

.container{
    padding-left: var(--space3x);
    padding-right: var(--space3x);
}

.intro-article {
    font-family: 'Noto Serif Khojki';
    font-size: medium;
    margin-left: 8px;
    margin-right: 5px;
    position: relative;
}

a:visited {
    color: black
}

.h2-article {
    font-family: 'Noto Serif Khojki';
    text-align: center;
    font-size: large;
    color: #295855;
    padding-top: 20px;
    margin-top: 40px;
}

.p-article {
    font-family: 'Noto Serif Khojki';
    font-size: medium;
    color: black;
    margin-left: 8px;
    margin-right: 5px;
}

.filmographie {
    width: 158px;
    height: 225px;
    padding-left: 8px;
}

.projet-autre {
    font-family: 'Bowlby One';
    font-weight: normal;
    text-align: center;
}

.nom-autre {
    text-align: center;
    font-size: 'Noto Serif Khojki' ;
}

.mot-glossaire {
    font-family: 'Bowlby One';
    font-weight: normal;
    font-size: medium; 
    margin-left: 10px;
    margin-bottom: 15px;
}

.def-glossaire {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 30px;
}



