.titrefilm {
    font-family: 'Bowlby One';
    text-align: center;
    position: relative;
}

.introfilm {
    font-family: 'Noto Serif Khojki';
    font-size: 25px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    z-index: 2;
}

.titre1film {
    font-family: 'Noto Serif Khojki';
    text-align: center;
    font-size: 25px;
    color: #295855;
    padding-top: 20px;
    margin-top: 40px;
}

.titre2film {
    font-family: 'Noto Serif Khojki';
    text-align: center;
    font-size: 25px;
    color: #295855;
    padding-top: 20px;
    margin-top: 40px;
}

.titre3film {
    font-family: 'Noto Serif Khojki';
    text-align: center;
    font-size: 25px;
    color: #295855;
    padding-top: 20px;
    margin-top: 40px;
}

.titre4film {
    font-family: 'Noto Serif Khojki';
    text-align: center;
    font-size: 25px;
    color: #295855;
    padding-top: 20px;
    margin-top: 40px;
}

.titre5film {
    font-family: 'Noto Serif Khojki';
    text-align: center;
    font-size: 25px;
    color: #295855;
    padding-top: 20px;
    margin-top: 40px;
}

.part1film {
    font-family: 'Noto Serif Khojki';
    font-size: 20px;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}

.part2film {
    font-family: 'Noto Serif Khojki';
    font-size: 20px;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}

.part3film {
    font-family: 'Noto Serif Khojki';
    font-size: 20px;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}

.part4film {
    font-family: 'Noto Serif Khojki';
    font-size: 20px;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}

.part5film {
    font-family: 'Noto Serif Khojki';
    font-size: 20px;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}

.part5bfilm {
    font-family: 'Noto Serif Khojki';
    font-size: 20px;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}