.intro-film {
    display: flex;
}

.imagefilm {
    width: 220px;
    height: 220px;
    padding-right: 8px;
}

.film-p1 {
    display: flex;
}

.synopsis-film {
    display: flex;
}

.film1 {
    width: 154px;
    height: 236px;
    margin-left: 40px;
    margin-top: 40px;
}

.film2 {
    width: 154px;
    height: 236px;
    margin-left: 200px;
    margin-top: -75px;
}

.film3 {
    width: 154px;
    height: 236px;
    margin-left: 40px;
    margin-top: -75px;
}

.film4 {
    width: 154px;
    height: 236px;
    margin-left: 200px;
    margin-top: -75px;
}


figure {
    border: none;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
    text-align: center;
    font-family: 'Noto Serif Khojki' ;
    font-size: small;
}

img {
    max-width: 220px;
    max-height: 150px;
}

