.prenom {
    color:  #95534C;
    font-family: 'Noto Serif Khojki';
    display: inline-block;
    margin-left: 10px;
}

.formulairenom {
    color:  #95534C;
    font-family: 'Noto Serif Khojki';
    display: inline-block;
    margin-left: 10px;
}

.mail {
    color:  #95534C;
    font-family: 'Noto Serif Khojki';
    margin-left: 10px;
}

.telephone {
    color:  #95534C;
    font-family: 'Noto Serif Khojki';
    margin-left: 10px;
}

.message {
    color:  #95534C;
    font-family: 'Noto Serif Khojki';
    margin-left: 10px;
}

.inputprenom {
    width: 90px;
    margin-bottom: 10px;
    display: inline-block;
    margin-left: 10px;
}

.inputnom {
    width: 90px;
    margin-bottom: 10px;
    display: inline-block;
    margin-left: 10px;
}

.inputmail {
    margin-bottom: 10px;
    margin-left: 10px;
}

.inputtelephone {
    margin-bottom: 10px;
    margin-left: 10px;
}

.inputmail {
    width: 100px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.message {
    width: 180px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.boutonenvoyer {
    background-color: #295855;
    border-radius: 10px;
    color: #eeeeee;
    text-align: center;
    font-size: 12px;
    padding: 20px;
    cursor: pointer;
    margin-left: 70%;
    margin-bottom: 10px;
  }

.contact-aide {
    text-align: center;
    font-size: large;
    font-family: 'Noto Serif Khojki';
}
