
.glossaire__mot {
    font-family: 'Bowlby One';
    font-weight: normal;
    font-size: medium; 
    margin-left: 10px;
    margin-bottom: 15px;
    color: var(--couleur-écriture-site);
}

.glossaire__def {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 30px;
    color: var(--couleur-écriture-site);
}

