.titre1 {
    font-family: 'Bowlby One';
}

.titre2 {
    font-family: 'Bowlby One';
}

.titre3 {
    font-family: 'Bowlby One';
}

.titre4 {
    font-family: 'Bowlby One';
}

.titre5 {
    font-family: 'Bowlby One';
}

.titre6 {
    font-family: 'Bowlby One';
}

.image__accueil {
    height: 343.58;
    width: 407;
}