.dalidaphoto {
     width: 177px;
     height: 234px;
     padding-left: 7px;
}

.introdalida {
    display: flex;
    line-height: 25px;
}

.disquephoto {
    width: 133,72px;
    height: 184,25px;
}



.figure2 {
    
    border: none;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
  
}

.img {
    max-width: 220px;
    max-height: 150px;
    margin-left: 10px;
}
