

.introdalida {
    display: flex;
    line-height: 25px;
}


.dalida-article-photo {
    
    border: none;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}
.dalida-article-chanson {
    border: none;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
    text-align: center;
}

.dalida-article-image {
    max-width: 220px;
    max-height: 150px;
    margin-left: 10px;
}

.dalida-article-image2 {
    max-width: 220px;
    max-height: 150px;
    margin-left: 10px;
}
