.biodiversite-article-photo {
    border: none;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
    text-align: center;
}

.imagebiodiversite {
    max-width: 220px;
    max-height: 150px;
}